# AWS EC2 Dynamic Inventory Plugin Configuration
---
plugin: amazon.aws.aws_ec2

#For ansible_dynamic aws role

regions:
  - eu-central-1  # Твой регион

filters:
  tag:Role: app
  instance-state-name: running

keyed_groups:
  - key: tags.Role
    prefix: role

hostnames:
  - ip-address  # Использовать публичный IP

compose:
  ansible_host: public_ip_address
  ansible_user: "'ec2-user'"
  ansible_ssh_private_key_file: "'/var/lib/jenkins/.ssh/jenkins_ec2_key'"
  ansible_ssh_common_args: -o StrictHostKeyChecking=no