# ========================================
# РОЛЬ: flask_app
# Flask приложение
# ========================================
---
flask_app_dir: "{{ base_dir }}/flask"
flask_app_port: 5000
dockerhub_username: azubeq
flask_app_image: "flask-app"
flask_app_version: "v1"
database_url: "postgresql://user:pass@db:5432/appdb"
# --- roles/flask_app/defaults/main.yml ---

# Имя контейнера
flask_container_name: "flask_app"

# Настройки подключения к БД
# Используем имя контейнера PostgreSQL как hostname
flask_db_host: "{{ postgres_container_name }}"
flask_db_port: "{{ postgres_port }}"
flask_db_name: "{{ postgres_db_name }}"
flask_db_user: "{{ postgres_db_user }}"
# flask_db_password берётся из db_password

# Healthcheck настройки
flask_healthcheck_interval: "30s"
flask_healthcheck_timeout: "10s"
flask_healthcheck_retries: 3
flask_healthcheck_start_period: "40s"
